@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: #ffffff;
    --foreground: #1a1a1a;
    --font-serif: Inter, sans-serif;

    --clr-primary: oklch(34.883% 0.12238 257.48);
    --clr-primary-50: oklch(65.245% 0.1792 255.82);
    --clr-primary-100: oklch(62.217% 0.19707 256.93);
    --clr-primary-200: oklch(56.638% 0.2114 258.52);
    --clr-primary-300: oklch(49.574% 0.18466 258.56);
    --clr-primary-400: oklch(42.386% 0.15431 258.16);
    --clr-primary-500: oklch(34.883% 0.12238 257.48);
    --clr-primary-600: oklch(23.804% 0.07482 255.45);
    --clr-primary-700: oklch(10.901% 0.02402 237.61);
    --clr-primary-800: oklch(0% 0 none);
    --clr-primary-900: oklch(0% 0 none);
    --clr-primary-950: oklch(0% 0 none);

    --clr-muted: oklch(55.102% 0.02336 264.36);
    --clr-muted-50: oklch(85.673% 0.00764 260.73);
    --clr-muted-100: oklch(82.317% 0.0103 267.34);
    --clr-muted-200: oklch(75.71% 0.01495 268.45);
    --clr-muted-300: oklch(68.926% 0.01847 267.72);
    --clr-muted-400: oklch(61.895% 0.02267 264.4);
    --clr-muted-500: oklch(55.102% 0.02336 264.36);
    --clr-muted-600: oklch(45.509% 0.01801 260.7);
    --clr-muted-700: oklch(35.508% 0.01329 261.73);
    --clr-muted-800: oklch(24.312% 0.00818 264.41);
    --clr-muted-900: oklch(11.563% 0.00322 285.88);
    --clr-muted-950: oklch(0% 0 none);

    --clr-border: oklch(92.797% 0 none);
    --clr-border-50: oklch(100% 0 none);
    --clr-border-100: oklch(100% 0 none);
    --clr-border-200: oklch(100% 0 none);
    --clr-border-300: oklch(100% 0 none);
    --clr-border-400: oklch(98.809% 0 none);
    --clr-border-500: oklch(92.797% 0 none);
    --clr-border-600: oklch(84.212% 0 none);
    --clr-border-700: oklch(75.402% 0 none);
    --clr-border-800: oklch(66.326% 0 none);
    --clr-border-900: oklch(56.926% 0 none);
    --clr-border-950: oklch(52.081% 0 none);

    --clr-destructive: oklch(62% 0.16 25);
    --clr-destructive-50: oklch(97.5% 0.02 25);
    --clr-destructive-100: oklch(95% 0.04 25);
    --clr-destructive-200: oklch(90% 0.06 25);
    --clr-destructive-300: oklch(82% 0.08 25);
    --clr-destructive-400: oklch(72% 0.12 25);
    --clr-destructive-500: oklch(62% 0.16 25);
    --clr-destructive-600: oklch(52% 0.16 25);
    --clr-destructive-700: oklch(42% 0.14 25);
    --clr-destructive-800: oklch(32% 0.12 25);
    --clr-destructive-900: oklch(22% 0.1 25);
    --clr-destructive-950: oklch(15% 0.08 25);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: var(--clr-primary);
    --color-primary-50: var(--clr-primary-50);
    --color-primary-100: var(--clr-primary-100);
    --color-primary-200: var(--clr-primary-200);
    --color-primary-300: var(--clr-primary-300);
    --color-primary-400: var(--clr-primary-400);
    --color-primary-500: var(--clr-primary-500);
    --color-primary-600: var(--clr-primary-600);
    --color-primary-700: var(--clr-primary-700);
    --color-primary-800: var(--clr-primary-800);
    --color-primary-900: var(--clr-primary-900);
    --color-primary-950: var(--clr-primary-950);

    --color-muted: var(--clr-muted);
    --color-muted-50: var(--clr-muted-50);
    --color-muted-100: var(--clr-muted-100);
    --color-muted-200: var(--clr-muted-200);
    --color-muted-300: var(--clr-muted-300);
    --color-muted-400: var(--clr-muted-400);
    --color-muted-500: var(--clr-muted-500);
    --color-muted-600: var(--clr-muted-600);
    --color-muted-700: var(--clr-muted-700);
    --color-muted-800: var(--clr-muted-800);
    --color-muted-900: var(--clr-muted-900);
    --color-muted-950: var(--clr-muted-950);

    --color-border: var(--clr-border);
    --color-border-50: var(--clr-border-50);
    --color-border-100: var(--clr-border-100);
    --color-border-200: var(--clr-border-200);
    --color-border-300: var(--clr-border-300);
    --color-border-400: var(--clr-border-400);
    --color-border-500: var(--clr-border-500);
    --color-border-600: var(--clr-border-600);
    --color-border-700: var(--clr-border-700);
    --color-border-800: var(--clr-border-800);
    --color-border-900: var(--clr-border-900);
    --color-border-950: var(--clr-border-950);

    --color-destructive: var(--clr-destructive);
    --color-destructive-50: var(--clr-destructive-50);
    --color-destructive-100: var(--clr-destructive-100);
    --color-destructive-200: var(--clr-destructive-200);
    --color-destructive-300: var(--clr-destructive-300);
    --color-destructive-400: var(--clr-destructive-400);
    --color-destructive-500: var(--clr-destructive-500);
    --color-destructive-600: var(--clr-destructive-600);
    --color-destructive-700: var(--clr-destructive-700);
    --color-destructive-800: var(--clr-destructive-800);
    --color-destructive-900: var(--clr-destructive-900);
    --color-destructive-950: var(--clr-destructive-950);

    --text-xs: 0.75rem;
    --text-sm: 0.8125rem;
    --text-base: 0.875rem;
    --text-lg: 1rem;
    --text-xl: 1.125rem;
    --text-2xl: 1.25rem;
    --text-3xl: 1.5rem;
    --text-4xl: 1.875rem;
    --text-5xl: 2.25rem;
    --text-6xl: 3rem;
    --text-7xl: 4.5rem;
    --text-8xl: 6rem;
    --text-9xl: 9rem;
}

.dark {
    --background: #1a1a1a;
    --foreground: #f5f5f5;

    --clr-primary: oklch(34.883% 0.12238 257.48);
    --clr-primary-50: oklch(65.245% 0.1792 255.82);
    --clr-primary-100: oklch(62.217% 0.19707 256.93);
    --clr-primary-200: oklch(56.638% 0.2114 258.52);
    --clr-primary-300: oklch(49.574% 0.18466 258.56);
    --clr-primary-400: oklch(42.386% 0.15431 258.16);
    --clr-primary-500: oklch(34.883% 0.12238 257.48);
    --clr-primary-600: oklch(23.804% 0.07482 255.45);
    --clr-primary-700: oklch(10.901% 0.02402 237.61);
    --clr-primary-800: oklch(0% 0 none);
    --clr-primary-900: oklch(0% 0 none);
    --clr-primary-950: oklch(0% 0 none);

    --clr-muted: oklch(81.944% 0.00773 260.73);
    --clr-muted-50: oklch(100% 0 none);
    --clr-muted-100: oklch(100% 0 none);
    --clr-muted-200: oklch(100% 0 none);
    --clr-muted-300: oklch(94.864% 0.00172 247.84);
    --clr-muted-400: oklch(88.462% 0.00465 258.33);
    --clr-muted-500: oklch(81.944% 0.00773 260.73);
    --clr-muted-600: oklch(72.763% 0.01239 264.49);
    --clr-muted-700: oklch(63.506% 0.01653 260.72);
    --clr-muted-800: oklch(54% 0.01724 260.71);
    --clr-muted-900: oklch(44.153% 0.01408 264.42);
    --clr-muted-950: oklch(39.268% 0.01143 258.36);

    --clr-border: oklch(25.196% 0 none);
    --clr-border-50: oklch(59.31% 0 none);
    --clr-border-100: oklch(55.897% 0 none);
    --clr-border-200: oklch(48.55% 0 none);
    --clr-border-300: oklch(41.283% 0 none);
    --clr-border-400: oklch(33.289% 0 none);
    --clr-border-500: oklch(25.196% 0 none);
    --clr-border-600: oklch(12.212% 0 none);
    --clr-border-700: oklch(0% 0 none);
    --clr-border-800: oklch(0% 0 none);
    --clr-border-900: oklch(0% 0 none);
    --clr-border-950: oklch(0% 0 none);

    --clr-destructive: oklch(70% 0.13 25);
    --clr-destructive-50: oklch(95% 0.02 25);
    --clr-destructive-100: oklch(90% 0.04 25);
    --clr-destructive-200: oklch(85% 0.06 25);
    --clr-destructive-300: oklch(75% 0.08 25);
    --clr-destructive-400: oklch(68% 0.11 25);
    --clr-destructive-500: oklch(60% 0.13 25);
    --clr-destructive-600: oklch(50% 0.13 25);
    --clr-destructive-700: oklch(40% 0.12 25);
    --clr-destructive-800: oklch(30% 0.1 25);
    --clr-destructive-900: oklch(22% 0.08 25);
    --clr-destructive-950: oklch(15% 0.06 25);

    --font-serif: Inter, sans-serif;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-serif);
}
